<div class="container-fluid">
  <div class="main-section row">
    <div class="overview-container col-md-10 col-md-offset-1">
      <span class="list_heading">New in your field</span>
      <hr>
      <div class="row">
        <% @new_in_field.each do |new_in_field_doc| %>
            <div class="col-xs-6 col-md-2">
              <a href="<%=  paper_path '', :paper=>new_in_field_doc %>" class="thumbnail">
                <span class="fa fa-file-text-o"/>
                <div class="caption">
                  <h4><%= new_in_field_doc %></h4>
                  <span class="fa-ellipsis-h"/>
                </div>
              </a>
            </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="main-section row">
    <div class="overview-container col-md-10 col-md-offset-1">
      <span class="list_heading">Trending in your field</span>
      <hr>
      <div class="row">
        <% @trending_in_field.each do |trending_in_field_doc| %>
            <div class="col-xs-6 col-md-2">
              <a href="#" class="thumbnail">
                <span class="fa fa-file-text-o"/>
                <div class="caption">
                  <h4><%= trending_in_field_doc %></h4>
                  <span class="fa-ellipsis-h"/>
                </div>
              </a>
            </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="main-section row">
    <div class="overview-container col-md-7 col-md-offset-1">
      <span class="list_heading">New Reviews</span>
      <hr>
      <div class="row">
        <% @new_reviews.each do |new_review| %>
            <div class="col-xs-6 col-md-2">
              <a href="#" class="thumbnail">
                <span class="fa fa-file-text-o"/>
                <div class="caption">
                  <h4><%= new_review %></h4>
                  <span class="fa-ellipsis-h"/>
                </div>
              </a>
            </div>
        <% end %>
      </div>
    </div>
    <div class="overview-container col-md-2">
      <span class="list_heading">Waiting for your review</span>
      <hr>
      <div>
        <ul class="list-group">
          <% @waiting_for_review.each do |waiting_paper| %>
          <li class="list-group-item"><%= waiting_paper %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>